<div class="c-tracking-consent" id="tracking-consent">

	<div class="c-tracking-consent__inner">

		<p class="c-tracking-consent__message">We use tracking cookies to analyse and track website traffic so we can improve your experience and tailor your content. You can find more information in our <a href="{{ craft.entries.id(6).one().url ?? null }}">cookie policy</a>.</p>

		<div class="c-tracking-consent__controls">
			<a class="c-button c-button--link js-cookie-consent" href="{{ craft.entries.id(6).one().url ?? null }}" data-cookie-consent="false">More Information</button>
			<button class="c-button c-button--small js-cookie-consent" data-cookie-consent="true">I Accept</button>
		</div>

	</div>

</div>
