{#
 # Pagination
 # =============================================================================
 #
 # {% include '_includes/pagination' with { pageInfo: pageInfo } only %}
 #}

{% set padding = 2 %}

{% if pageInfo is defined and pageInfo.totalPages > 1 %}

	{% set prevLength = pageInfo.getPrevUrls()|length %}
	{% set nextLength = pageInfo.getNextUrls()|length %}

	{# If we don't have enough pages to pad in one direction add extra padding in the other direction #}
	{% set next = prevLength <= padding ? (padding + padding - prevLength) : padding %}
	{% set prev = nextLength <= padding ? (padding + padding - nextLength) : padding %}

	<nav aria-label="Pagination">

		<a href="{{ pageInfo.prevUrl }}" aria-label="Previous page">Prev</a>

		<ol>
			{% for page, url in pageInfo.getPrevUrls(prev) %}
				<li><a href="{{ url }}" aria-label="{{ page|ordinalize }} Page">{{ page }}</a></li>
			{% endfor %}

			<li><a href="#content" aria-current="page">{{ pageInfo.currentPage }}</a></li>

			{% for page, url in pageInfo.getNextUrls(next) %}
				<li><a href="{{ url }}" aria-label="{{ page|ordinalize }} Page">{{ page }}</a></li>
			{% endfor %}
		</ol>

		<a href="{{ pageInfo.nextUrl }}" aria-label="Next page">Next</a>

	</nav>

{% endif %}
