<div class="c-tracking-consent {{ not cookieConsent ? 'is-visible' }}" id="ckntc">

	<div class="c-tracking-consent__inner">

		<p class="c-tracking-consent__message">This site uses cookies and other tracking methods for analytic and tracking purposes. Details can be found in our <a href="">cookie policy</a>.</p>

		<div class="c-tracking-consent__controls">
			<button class="button" id="ckntc-n">Disallow</button>
			<button class="button" id="ckntc-y">Allow</button>
		</div>

	</div>

</div>
