/* stylelint-disable selector-no-qualifying-type  */

.o-image {
	position: relative;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
}

.o-image--placeholder {
	background: $placholder-image-color url("/assets/images/image-placeholder.svg") no-repeat center;
	background-size: 48px;
}

.o-image img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.o-image--lazy img {
	opacity: 0;
	transition: opacity 150ms ease-in;
	will-change: opacity;
}

.o-image--lazy img.has-loaded {
	opacity: 1;
}
