{% extends "_layouts/base" %}

{% block layout %}

	{% include "_includes/components/header" %}

	{% block content %}
		<p><code>{% verbatim %}{% block content %}{% endblock %}{% endverbatim %}</code> not set.</p>
	{% endblock %}

{% endblock %}
