<!doctype html>
<html lang="{{ craft.locale|replace('_','-') }}">

	<head>

		{% block head %}

			{% set metaTitle = entry.metaTitle is defined and entry.metaTitle ? entry.metaTitle : metaTitle ?? entry.title ?? siteName ?? null %}
			{% set metaDescription = entry.metaDescription is defined and entry.metaDescription ? entry.metaDescription : metaDescription ?? null %}

			<title>{% if craft.config.devMode %}Dev - {% endif %}{{ metaTitle }}</title>
			<meta charset="utf-8">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			{% if metaDescription is defined and metaDescription %}
				<meta name="description" content="{{ metaDescription }}">
			{% endif %}

		{% endblock %}

		{% if not craft.config.devMode and not craft.request.isLivePreview %}
			{# Insert analytics and tracking scripts #}
		{% endif %}

	</head>

	<body>

		{% block layout %}
			<p><code>{% verbatim %}{% block layout %}{% endblock %}{% endverbatim %}</code> not set.</p>
		{% endblock %}

	</body>

</html>
