{#
 # 404
 # =============================================================================
 #}

{% set entry = craft.entries.section('notFound').one() %}

{% extends "_layouts/standard" %}

{% block content %}
	<main id="content">
		<h1>Page not found</h1>
		<p>The page your were looking for cannot be found.</p>
	</main>
{% endblock %}
