{#
 # Homepage
 # =============================================================================
 #}

{% extends "_layouts/standard" %}

{% block content %}
	<main id="content">

		<div id="app"></div>

	</main>
{% endblock %}
