/**
 * Font Face
 * https://calendar.perfplanet.com/2016/no-font-face-bulletproof-syntax/
 */

@font-face {
	font-family: "Fjalla One";
	font-style: normal;
	src:
		url("/fonts/fjalla-one-v6-latin-regular.woff2") format("woff2"),
		url("/fonts/fjalla-one-v6-latin-regular.woff") format("woff");
}
