/**
 * Typography
 */

a {
	color: inherit;
}

.typeset {
	a {
		text-decoration: underline;
	}

	p,
	li {
		font-size: 1rem;
	}

	p,
	ol,
	ul {
		margin-bottom: 1em;
	}

	ol,
	ul {
		padding-left: em(40);
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}
}
